/* Small devices (≥576px) */
@media (min-width: 576px) {
  /* sm */
}

/* Medium devices (≥768px) */
@media (min-width: 768px) {
  /* md */
}

/* Large devices (≥992px) */
@media (min-width: 992px) {
  /* lg */
}

/* Extra large devices (≥1200px) */
@media (min-width: 1200px) {
  /* xl */
}

/* Extra extra large devices (≥1400px) */
@media (min-width: 1400px) {
  /* xxl */
}